@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>

<p> Esta aplicacion corresponde al Laboratorio 01 de Ingenieria de Software. </p>
<p> Estudiante: Walter Bonilla Gutierrez. </p>
<p> Carné: B61144. </p>
